In [1]:
import pandas as pd

# Link file nén .gz (Pandas có thể đọc trực tiếp, rất tiện!)
prefix = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/'
url = prefix + 'yellow_tripdata_2021-01.csv.gz'

# Đọc thử 100 dòng
df = pd.read_csv(url, nrows=100)

# Xem dữ liệu
display(df.head())

# Kiểm tra kiểu dữ liệu (Schema)
print(df.dtypes)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

VendorID                   int64
tpep_pickup_datetime         str
tpep_dropoff_datetime        str
passenger_count            int64
trip_distance            float64
RatecodeID                 int64
store_and_fwd_flag           str
PULocationID               int64
DOLocationID               int64
payment_type               int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
congestion_surcharge     float64
dtype: object

In [5]:
# Định nghĩa kiểu dữ liệu chính xác
dtype_dict = {
    "VendorID": "Int64",
    "passenger_count": "Int64",
    "trip_distance": "float64",
    "RatecodeID": "Int64",
    "store_and_fwd_flag": "string",
    "PULocationID": "Int64",
    "DOLocationID": "Int64",
    "payment_type": "Int64",
    "fare_amount": "float64",
    "extra": "float64",
    "mta_tax": "float64",
    "tip_amount": "float64",
    "tolls_amount": "float64",
    "improvement_surcharge": "float64",
    "total_amount": "float64",
    "congestion_surcharge": "float64"
}

# Các cột cần parse ngày tháng
parse_dates = ["tpep_pickup_datetime", "tpep_dropoff_datetime"]

# Đọc lại với schema chuẩn
df = pd.read_csv(
    url,
    nrows=100,
    dtype=dtype_dict,
    parse_dates=parse_dates
)

In [9]:
from sqlalchemy import create_engine

# Connection string: postgresql://user:password@host:port/database
# Thêm "+psycopg" vào sau "postgresql"
engine = create_engine('postgresql+psycopg://root:root@localhost:5432/ny_taxi')

# Test thử kết nối
engine.connect()

In [8]:
# In ra câu lệnh tạo bảng để kiểm tra
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [ ]:
from time import time
from tqdm.auto import tqdm

# Lấy chunk đầu tiên để tạo bảng
first_chunk = next(df_iter)

# Bước 1: Tạo bảng (chỉ tạo cột, không thêm dữ liệu)
first_chunk.head(0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')
print("Table 'yellow_taxi_data' created successfully!")

# Bước 2: Thêm dữ liệu của chunk đầu tiên
first_chunk.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
print(f"Inserted first chunk: {len(first_chunk)} rows.")

# Bước 3: Lặp qua các chunk còn lại
# Lưu ý: Do df_iter là iterator, vòng lặp này sẽ tiếp tục từ chunk thứ 2
for df_chunk in tqdm(df_iter, desc="Ingesting..."):
    t_start = time()
    
    # Insert dữ liệu vào DB
    df_chunk.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    
    t_end = time()
    # print(f"Inserted another chunk..., took {t_end - t_start:.3f} second") 
    # (Comment print lại để đỡ rối mắt khi dùng tqdm)